@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
.hero img{
    width: 100vw;
    height: 100vh;
}
*{
    font-family: 'Lato', sans-serif;
    color: white;
    padding: 0;
    margin: 0;
}
.intro{
    position: absolute;
    left: 40vw;
    top: 40vh;
}
.intro h1{
    color: #00ff9d;
    font-size: 64px;

}
.intro h2{
    color: #fff;
    font-size: 32px;
}
.intro h2 p{
    font-size: 60px;
    display: inline;
    color:yellow;
}
.blackbox{
    display: flex;
    background-color: black;
    justify-content: center;
}
.blackbox h3{
    font-size: 80px;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
    margin: 0;
}
.blackbox h3 span{
    font-size: 96px;
    color: white;
}

.cards{
    padding-top: 40px;
    display: flex;
    justify-content: space-evenly;
    padding-left: 10vw;
}
.card{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    background-color: rgb(206, 255, 121);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 5px 0px #000;
    
}
.card img{
    width: 300px;
    height: auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}
.card h3{
    padding: 10px;
}
.card p{
    padding: 10px;
}

.bottom{
    padding: 100px;
    display: flex;
    justify-content: space-evenly;
    
}
.bottomcard{
    width: 450px;
    height: auto;
    display: flex;
    flex-direction: column;
    border: 2px solid;
    padding: 10px;
}
.bottomcard h2{
    padding: 10px;
}

.bottomcard p{
    padding: 10px;
}
#contactus{
    background-color: rgb(23, 93, 0);
}
#aboutme{
    background-color: brown;
}